{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Technical Board IIT Guwahati">
    <meta name="keywords" content="Technical Board, IIT guwahati, technical board , tech board">
    <title>Courses-Computer Science and Engineering</title>
    <!-- Styles -->
    <link href="{% static  'assets/css/page.min.css' %}" rel="stylesheet">
    <link href="{% static  'assets/css/style.css' %}" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static  'assets/img/logo-light.png' %}">
    <link rel="icon" href="{% static  'assets/img/logo-light.png' %}">
    <!--  Open Graph Tags -->
    <meta property="og:title" content="Aspire">
    <meta property="og:description" content="E-Learning platform for IIT Guwahati">
    <meta property="og:image" content="../../assets/img/logo-light.png">
    <meta property="og:url" content="#">
    <meta name="twitter:card" content="summary_large_image">
</head>

<body>
    <!-- /.navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-stick-dark" data-navbar="sticky">
        <div class="container">
            <div class="navbar-left">
                <!-- <button class="navbar-toggler" type="button">&#9776;</button> -->
                <a class="navbar-brand" href="../../dept.html">
                    <img class="logo-dark" src="{% static  'assets/img/logo-dark.png' %}" alt="logo" width="120px" height="120px">
                    <img class="logo-light" src="{% static  'assets/img/logo-light.png' %}" alt="logo" width="120px" height="120px">
                </a>
            </div>
            <section class="navbar-mobile">
                <span class="navbar-divider d-mobile-none"></span>
            </section>
            <a class="btn btn-primary btn-round text-white" href="../../upload.html">Upload Video</a>
            <a class="btn btn-primary btn-round text-white" href="../../upload.html">Upload Book</a>

            <!-- <a class="btn btn-round btn-primary nav-link text-white" href="#">Novels</a> -->
        </div>
    </nav>
    <!-- /.navbar -->
    <!-- Header -->
    <header class="header mb-9 mh-fullscreen" style="background-image: url(/static/assets/img/dac/cse/cs101/header.jpg)" data-overlay="6">
        <div class="container text-white">
            <div class="row">
                <div class="col-md-6 mt-5">
                    <h1 class="fw-200 mb-6">Resourses</h1>
                    <p class="lead-2">Find the resourses provided by the department itself for help you increase your grades. The resources are the course videos provided by the department, and the reading material and books recommended by the professors. There is also
                        a section where you can upload your notes for helping your peers.</p>
                    <hr class="w-50px ml-0">
                    <a class="text-muted" href="#dc">Explore all the available resources.</a>
                </div>
            </div>
        </div>
    </header>
    <!-- /.header -->
    <!-- Main Content -->
    <main class="main-content">
        <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Populate the page
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
        <section class="section">
            <div class="container" id="dc">
                <header class="section-header">
                    <h2 class="display-3 fw-400" style="margin-top: -80px">Resources</h2>
                </header>
                <ul class="nav nav-tabs-outline" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#courses" data-toggle="tab">Courses</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="#books" data-toggle="tab">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#readings" data-toggle="tab">Readings</a>
                    </li>
                </ul>
                <div class="tab-content p-4">
                    <div class="tab-pane fade show active" id="courses">
                        {% for j in videos %}
                        <div class="text-center mt-8">
                            <h2 class="lead">{{j.title}}</h2>
                             <video width="320" height="240" controls>
                                    <source src="{{j.url.url}}" type="video/mp4">

                                    Your browser does not support the video tag.
                                </video>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="books">
                        <div class="row mt-8">
                            <div class="col-12">
                                <div class="card d-block mx-auto card-shadow border-primary">
                                    <div class="card-body border-bottom-1">
                                        <h2 class="card-title">{{course.name}}</h2>
                                        <h4>Important Files <i class="fa fa-angle-down"></i></h4>
                                        <div class="row mt-5 gap-y container pre-scrollable">
                                            {% for i in books %}
                                            <div class="col-6 col-md-2 hover-shadow-4 my-1">
                                                <a href="{{i.pdf.url}}" download="{{i.title}}">
                                                    <div class="card bd-block pdf" datastore="{{i.pdf.url}}">
                                                        <img class="card-img-top" src="{% static  'assets/img/pdf.png'%}" alt="pdf" height="45px" width="45px">
                                                        <div class="card-body">
                                                            <p class="card-title">{{i.title}}</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                       {% endfor %}
                                        </div>
                                    </div>


                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="readings">
                        <div class="row mt-8">
            <div class="col-12">
                <div class="text-center mb-5">
                    <a class="btn btn-round btn-primary btn-xl text-white text-center fs-17" href="">Share a File</a>
                </div>
                <div class="card d-block mx-auto card-shadow border-primary">
                    <div class="card-body border-bottom-1">
                        <h2 class="card-title"></h2>
                        <h4>Shared Files <i class="fa fa-angle-down"></i></h4>
                        <div class="row mt-5 gap-y container pre-scrollable">
                            <div class="col-6 col-md-2 hover-shadow-4 my-1">
                                <a href="#frame2">
                                    <div class="card d-block pdf2">
                                        <img class="card-img-top" src="{% static  'assets/img/pdf.png'%}" alt="pdf" height="45px"
                                            width="45px">
                                        <div class="card-body">
                                            <p class="card-title">MA101 Tutorial 1</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-2 hover-shadow-4 my-1">
                                <a href="#frame2">
                                    <div class="card d-block pdf2">
                                        <img class="card-img-top" src="{% static  'assets/img/pdf.png'%}" alt="pdf">
                                        <div class="card-body">
                                            <p class="card-title">MA101 Tutorial 2</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-2 hover-shadow-4 my-1">
                                <a href="#frame2">
                                    <div class="card d-block pdf2">
                                        <img class="card-img-top" src="{% static  'assets/img/pdf.png'%}" alt="pdf">
                                        <div class="card-body">
                                            <p class="card-title">MA101 Tutorial 2</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="text-center mt-5">-->
<!--                    <iframe id="frame2" src="cs101Files/sample.pdf" class="container-fluid mh-fullscreen"></iframe>-->
<!--                </div>-->

            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
    <!-- Footer -->
    <footer class="footer  bg-dark ">
        <div class="container">

                <div class="col-12 text-center">
                    <small>© <a href="https://www.iitg.ac.in/stud/gymkhana/technical/index.html">Barak
                                2019</a>, All rights reserved.</small>
                </div>


        </div>
    </footer>
    <!-- /.footer -->
    <!--back to top-->
    <!-- <button class="btn btn-circle btn-primary scroll-top"><i class="fa fa-angle-up"></i></button> -->
    <!-- Scripts -->
    <script src="{% static  'assets/js/page.min.js'%}"></script>
    <script src="{% static  'assets/js/script.js'%}"></script>

    <script>
        $(".pdf2").click(function () {
            $("#frame2").attr("src", "{{i.pdf.url}}");
        });
    </script>
   <script> $(".pdf").click(function(){
     var target = $(e.target);

        console.log(target.id);
        $("#frame").attr("src", target.datastore);
    });
    </script>
</body>

</html>