{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Technical Board IIT Guwahati">
    <meta name="keywords" content="Technical Board, IIT guwahati, technical board , tech board">
    <title>Courses-Computer Science and Engineering</title>
    <!-- Styles -->
    <link href="{% static  'assets/css/page.min.css' %}" rel="stylesheet">
    <link href="{% static  'assets/css/style.css' %}" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static  'assets/img/logo-light.png' %}">
    <link rel="icon" href="{% static  'assets/img/logo-light.png' %}">
    <!--  Open Graph Tags -->
    <meta property="og:title" content="Aspire">
    <meta property="og:description" content="E-Learning platform for IIT Guwahati">
    <meta property="og:image" content="../../assets/img/logo-light.png">
    <meta property="og:url" content="#">
    <meta name="twitter:card" content="summary_large_image">
</head>

<body>
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-stick-dark" data-navbar="sticky">
        <div class="container">
            <div class="navbar-left">
                <!-- <button class="navbar-toggler" type="button">&#9776;</button> -->
                <a class="navbar-brand" href="#">
                    <img class="logo-dark" src="{% static 'assets/img/logo-dark.png' %}" alt="logo" width="120px" height="120px">
                    <img class="logo-light" src="{% static 'assets/img/logo-light.png' %}" alt="logo" width="120px" height="120px">
                </a>
            </div>
            <section class="navbar-mobile">


                <nav class="nav nav-navbar">

                </nav>
            </section>


            <a class="btn btn-round btn-primary nav-link text-white ml-3    " href="{% url 'bookshare' %}">Novels</a>
            <span class="navbar-divider d-mobile-none"></span> {% if request.user.is_authenticated %}
            <a class="btn btn-round btn-primary nav-link text-white" href="{% url 'account_logout' %}">Sign out</a> {% else %} {# URL provided by django-allauth/account/urls.py #}
            <a class="btn btn-round btn-primary nav-link text-white " href="{% url 'account_signup' %}">Sign Up</a> {# URL provided by django-allauth/account/urls.py #}
            <a class="btn btn-round btn-primary nav-link text-white" href="{% url 'account_login' %}">Sign In</a> {% endif %}
        </div>
    </nav>
    <!--
                <div>
                  <a class="btn btn-sm btn-round btn-primary ml-lg-4 mr-2" href="#">Log in</a>
                </div>
-->
    <!--
              </section>

            </div>
          </nav> /.navbar
-->
    <!-- Header -->
    <main class="main-content">
        <section class="section py-8" style="background-image: url(/static/assets/img/upload.jpg)" data-overlay="3">
            <div class="container">
                <h2 class="text-white text-center lead-6">Upload Files</h2>
                <p class="text-white text-center opacity-80 lead-2">These files really help the students</p>
                <br>
                <div class="row">
                    <form class="col-11 col-md-6 col-xl-5 mx-auto section-dialog bg-gray p-5 p-md-7">
                        <div class="form-group">
                            <label>Department</label>
                            <select class="form-control">
                  <option>Computer Science</option>
                  <option>Electronics</option>
                </select>
                        </div>
                        <div class="form-group">
                            <label>Course</label>
                            <select class="form-control">
                  <option>CS 101</option>
                  <option>CS 201</option>
                  <option>CS 242</option>
                  <option>CS 301</option>
                </select>
                        </div>
                        <div class="form-group">
                            <label>File Category</label>
                            <select class="form-control">
                  <option>Tutorial</option>
                </select>
                        </div>
                        <div class="form-group">
                            <label>Upload Files</label>
                            <div class="input-group input-group-lg">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" accept=".pdf">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-block btn-lg btn-success" disabled>Upload</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- /.header -->
        <!-- Main Content -->

        <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Populate the page
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
        <!--
      <section class="section bg-gray overflow-hidden" id="advertisement">
        <div class="container">
          <div class="row">

            <div class="col-md-6 align-self-center text-center text-md-left">
              <h2>About the Course</h2><br>
              <p>Data science is a multi-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data. Data science is the same concept as data mining and big data: "use the most powerful hardware, the most powerful programming systems, and the most efficient algorithms to solve problems"</p>
              <br>
              <a class="btn btn-lg btn-round btn-primary shadow-3" href="#">Apply Now</a>
            </div>

            <div class="col-md-5 mx-auto text-center mt-8 mt-md-0">
              <img src="assets/img/dataidea.jpg" alt="..." data-aos="fade-up">
            </div>

          </div>
        </div>
      </section>
-->
    </main>
    <!-- Footer -->
    <footer class="footer  bg-dark ">
        <div class="container">

            <div class="col-12 text-center">
                <small>© <a href="https://www.iitg.ac.in/stud/gymkhana/technical/index.html">Barak
              2019</a>, All rights reserved.</small>
            </div>


        </div>
    </footer>
    <!-- /.footer -->
    <button class="btn btn-circle btn-primary scroll-top"><i class="fa fa-angle-up"></i></button>

    <!-- Scripts -->
    <script src="assets/js/page.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script type="application/javascript">
        $('input[type="file"]').change(function(e) {
            var fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);
        });
    </script>
</body>

</html>