{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Technical Board IIT Guwahati">
    <meta name="keywords" content="Technical Board, IIT guwahati, technical board , tech board">
    <title>Aspire-Departments and Clubs</title>
    <!-- Styles -->
    <link href="{%static 'assets/css/page.min.css' %}" rel="stylesheet">
    <link href="{%static 'assets/css/style.css' %}" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static 'assets/img/logo-light.png' %} ">
    <link rel="icon" href="{% static 'assets/img/logo-light.png' %} ">
    <!--  Open Graph Tags -->
    <meta property="og:title" content="Aspire">
    <meta property="og:description" content="E-Learning platform for IIT Guwahati">
    <meta property="og:image" content="{% static 'assets/img/logo-light.png'%}">
    <meta property="og:url" content="#">
    <meta name="twitter:card" content="summary_large_image">
</head>

<body>
    <!--CSS Spinner-->


    <!-- /.navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-stick-dark" data-navbar="sticky">
        <div class="container">
            <div class="navbar-left">
                <!-- <button class="navbar-toggler" type="button">&#9776;</button> -->
                <a class="navbar-brand" href="#">
                    <img class="logo-dark" src="{% static 'assets/img/logo-dark.png' %}" alt="logo" width="120px" height="120px">
                    <img class="logo-light" src="{% static 'assets/img/logo-light.png' %}" alt="logo" width="120px" height="120px">
                </a>
            </div>
            <section class="navbar-mobile">


                <nav class="nav nav-navbar">

                </nav>
            </section>


            <a class="btn btn-round btn-primary nav-link text-white ml-3    " href="#">Novels</a>
            <span class="navbar-divider d-mobile-none"></span> {% if request.user.is_authenticated %}
            <a class="btn btn-round btn-primary nav-link text-white" href="{% url 'account_logout' %}">Sign out</a> {% else %} {# URL provided by django-allauth/account/urls.py #}

            <a class="btn btn-round btn-primary nav-link text-white " href="{% url 'account_signup' %}">Sign Up</a> {# URL provided by django-allauth/account/urls.py #}
            <a class="btn btn-round btn-primary nav-link text-white" href="{% url 'account_login' %}">Sign In</a> {% endif %}
        </div>
    </nav>
    <!-- /.navbar -->
    <!-- Header -->
    <header class="header mb-9 mh-fullscreen" style="background-image: url(/static/assets/img/Clubs.jpg)" data-overlay="6">
        <div class="container text-white">
            <div class="row">
                <div class="col-md-6 mt-5">
                    <h1 class="fw-200 mb-6">Departments and Clubs</h1>
                    <p class="lead-2">Want to improve your academics or learn something out of the way? Here are all the resources you might need.</p>
                    <hr class="w-50px ml-0">
                    <a class="text-muted" href="#dc">Explore all the available resources</a>
                </div>
            </div>
        </div>
    </header>
    <!-- /.header -->
    <!-- Main Content -->
    <main class="main-content">
        <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Populate the page
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
        <section class="section">

            <script>
                { %
                    for i in depts %
                }
                console.log(" {{ i.name }}, {{ i.img.url }} "); { % endfor %
                }
            </script>
            <div class="container" id="dc">
                <header class="section-header">
                    <h2 class="display-3 fw-400" style="margin-top: -80px">Departments and Clubs</h2>
                </header>

                <div class="row gap-y" style="margin-top: -30px; margin-bottom: 30px">
                    {% for i in depts %}
                    <div class="col-12 col-lg-4 hover-shadow-4" data-aos="fade-up" data-aos-duration="250" data-aos-delay="00">
                        <a href="/depts/{{i.slug}}">
                            <div class="card text-white justify-content-end bg-img h-400" style="background-image: url('{{i.img.url}}');" data-overlay="3">
                                <div class="card-body flex-grow-5">
                                    <h3 class="card-title fw-200">{{ i.name }}</h3>
                                    <!-- <span class="badge badge-warning">Department</span> -->
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer class="footer  bg-dark ">
        <div class="container">

            <div class="col-12 text-center">
                <small>© <a href="https://www.iitg.ac.in/stud/gymkhana/technical/index.html">Barak
                            2019</a>, All rights reserved.</small>
            </div>


        </div>
    </footer>
    <!-- /.footer -->
    <!--back to top-->
    <button class="btn btn-circle btn-primary scroll-top"><i class="fa fa-angle-up"></i></button>
    <!-- Scripts -->
    <script src="{% static  'assets/js/page.min.js' %}"></script>
    <script src="{% static  'assets/js/script.js'%}"></script>


    <script>
        function hideLoader() {
            $('#loading').hide();
        }

        $(window).ready(hideLoader);
        preloaderFadeOutTime = 500;
        var preloader = $('.spinner-wrapper');
        preloader.fadeOut(preloaderFadeOutTime);

        // Strongly recommended: Hide loader after 20 seconds, even if the page hasn't finished loading
        setTimeout(hideLoader, 20 * 1000);
    </script>
    <script>
        { %
            for i in depts %
        }
        console.log(" {{ i.name }}, {{ i.img }} "); { % endfor %
        }
    </script>

</body>

</html>